{% extends 'base.html' %}
{% block body %}
<div class="ToDoInput container my-4 bg-body-secondary p-2">
    <h3>Update Task:</h3>
    <form action="/update/{{todo.sno}}" method="POST">
      <div class="mb-3">
        <label for="task" class="form-label">Task</label>
        <input type="text" class="form-control" value="{{todo.task}}" name="task" id="task" />
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">Task Description</label>
        <input type="text" class="form-control" value="{{todo.description}}" name="desc" id="desc"
        ></input>
      </div>
          <div class="mb-3 pl-5">
              <button type="submit" class="btn btn-outline-dark btn-sm">Update Task</button>
          </div>
      </form>
  </div>
{% endblock body %}